<!DOCTYPE html>
<html>
<head>
	<title>Medical Record App</title>
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"> 
		<link rel="stylesheet" href="/css/stylesheet.css"> 
		<link rel="shortcut icon" href="">
	  <script src="/js/config.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 	 	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
	<div class="container-fluid bgColor">
		<nav class="navbar navbar-default headerBg">
		  <div class="container">
				<div class="headerAlign">
				<h1>Medical Record Dapp</h1>
				</div>
		  </div>
		</nav>